<button (click)="showBookForm = !showBookForm" class="btn btn-dark mb-3">Add A Book</button>
<div class="card card-body mb-3" *ngIf="showBookForm">
  <h2>Add Book</h2>
  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" [(ngModel)]="currentBook.title" name="title" #title>
    </div>
    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" [(ngModel)]="currentBook.author" name="author" #author>
    </div>
    <div class="form-group">
      <label>Summary</label>
      <input type="text" class="form-control" [(ngModel)]="currentBook.description" name="description" #description>
    </div>
    <input type="hidden" [(ngModel)]="currentBook.id" name="id">
    <!--      Submit Button -->
    <button *ngIf="!isEdit" (click)="addBook(title.value, author.value, description.value)" class="btn btn-danger btn-block">Submit Book</button>
    <!--      Update Button -->
    <button *ngIf="isEdit" (click)="updateBook()" class="btn btn-warning btn-block">Update Post</button>

  </form>
</div>
<!--<div class="example-container">-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Title</mat-label>-->
<!--    <input matInput [(ngModel)]="currentBook.title" name="title" #title>-->
<!--  </mat-form-field>-->
<!--  <br>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Author</mat-label>-->
<!--    <input matInput [(ngModel)]="currentBook.author" name="title" #author>-->
<!--  </mat-form-field>-->
<!--  <br>-->

<!--  <br>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Textarea</mat-label>-->
<!--    <textarea matInput></textarea>-->
<!--  </mat-form-field>-->
<!--  <input type="hidden" [(ngModel)]="currentBook.id" name="id">-->

<!--  <button (click)="addBook(title.value, author.value)" mat-flat-button color="accent">SUBMIT</button>-->
<!--  <button (click)="updateBook()" mat-flat-button color="primary">UPDATE BOOK</button>-->
<!--</div>-->
