<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Angular BookList</a>
    <div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/books" class="nav-link">BookList</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

