<app-book-form [currentBook]="currentBook" [isEdit]="isEdit" (newBook)="onNewBook($event)" (updatedBook)="onUpdateBook($event)"></app-book-form>
<!--<h1>Codebound BookList</h1>-->
<!--<ul *ngFor="let book of books">-->
<!--  <li>-->
<!--    <h3> {{ book.title }}</h3>-->
<!--    <h5> {{ book.author }}</h5>-->
<!--    <img [src]="book.book_image" alt="">-->
<!--    <a [href]="book.amazon_product_url">Buy now</a>-->
<!--  </li>-->
<!--</ul>-->

<h1>Codebound BookList</h1>
<div class="row" >


<div class="col-md-4" *ngFor="let book of books">
  <div class="card">

  <div class="card-body">
    <h3 class="card-title"> {{ book.title }}</h3>
    <h5 class="card-text"> {{ book.author }}</h5>
    <img [src]="book.book_image" alt="">
    <p class="card-text"> {{ book.description}}</p>
    <hr>
    <a class="btn btn-primary" [href]="book.amazon_product_url">Buy now</a>
    <!--    delete button-->
    <button (click)="deleteBook(book)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
    <!--    edit button -->
    <button (click)="editBook(book)" class="btn btn-light"><i class="fa fa-pencil"></i></button>

  </div>

  </div>
</div>
</div>

<!--<mat-card class="example-card" *ngFor="let book of books">-->
<!--  <mat-card-header>-->
<!--    <div mat-card-avatar class="example-header-image"></div>-->
<!--    <mat-card-title>{{ book.title}}</mat-card-title>-->
<!--    <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <img mat-card-image [src]="book.book_image" alt="Photo of a Shiba Inu">-->
<!--  <mat-card-content>-->
<!--    <p>-->
<!--      {{ book.description}}-->
<!--    </p>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <button mat-flat-button color="primary">EDIT</button>-->
<!--    <a mat-flat-button color="warn" [href]='book.amazon_product_url' target="_blank">BUY</a>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->

<!--<mat-grid-list *ngFor="let book of books" cols="3" rowHeight="2:1">-->
<!--  <mat-expansion-panel style="text-align: center">-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        {{ book.title}} {{book.author}}-->
<!--      </mat-panel-title>-->
<!--      <mat-panel-description>-->
<!--        {{ book.description}}-->
<!--      </mat-panel-description>-->
<!--    </mat-expansion-panel-header>-->
<!--          <img mat-card-image [src]="book.book_image" alt="Photo of a Shiba Inu">-->
<!--    <button (click)="deleteBook(book)" mat-flat-button color="warn">DELETE</button>-->

<!--    <button (click)="editBook(book)" mat-flat-button color="primary">EDIT</button>-->
<!--            <a mat-flat-button [href]='book.amazon_product_url' target="_blank">BUY</a>-->
<!--  </mat-expansion-panel>-->
<!--</mat-grid-list>-->
